.chat-main
  .chat-main__group-info
    .chat-main__group-info--title
      text
      %ul.chat-main__group-info--title-list
        Member :
        %li<
          .chat-main__group-info--title-list--name
            fukuyama
    .chat-main__group-info--edit
      = link_to "#", class:"chat-main__group-info--edit chat-main__group-info--edit--btn" do
        Edit

  .chat-main__massage-list
    .chat-main__massage-list--name
      fukuyama
      .chat-main__massage-list--name--deta
        2020/05/22(fri) 21:42:00
    .chat-main__massage-list--coment
      こんばんは
    .chat-main__massage-list--name
      fukuyama
      .chat-main__massage-list--name--deta
        2020/05/22(fri) 21:42:00
    .chat-main__massage-list--coment
      おはようございます
    
  .chat-main__massage-from    
    .chat-main__massage-from--coment
      %input.chat-main__massage-from--coment-text{:type => "text", :placeholder => "type a message"}      
      %label{class: "chat-main__massage-from--coment-image"}
        = icon('far','image',)
        %input{class: "chat-main__massage-from--coment-image-btn",type: "file"}
    %input.chat-main__massage-from--submit{:type => "submit",:value => "Send"}
      

  
    
    