.side-ber
  .side-ber__user-name
    .top-items
      .top-items__name
        akito
      .top-items__icon
        = link_to "#", class: "top-items__icon top-items__icon--btn" do
          %i.far.fa-edit
        = link_to "#", class: "top-items__icon top-items__icon--btn" do
          %i.fa.fa-cog
      
  .side-ber__group-list
    .side-ber__group-list--chart
      .side-ber__group-list--chart--title
        text
      .side-ber__group-list--chart--comment
        text
    .side-ber__group-list--chart
      .side-ber__group-list--chart--title
        text
      .side-ber__group-list--chart--comment
        text
  